{{#if model.can_quiz}}
  {{#if model.postStream.loaded}}
    {{#if model.postStream.firstPostPresent}}
      <div class="quizzing title-quizzing">
        {{mount-widget widget="quiz-box" args=model}}
      </div>
    {{/if}}
  {{/if}}
{{/if}}
