<section class='field'>
  <div class="enable-topic-quizzing">
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.enable_topic_quizzing}}
      {{i18n 'quizzing.allow_topic_quizzing'}}
    </label>
  </div>
</section>
